/************************************ 
GENERAL
*************************************/
.wrapper {
    width: 90%;
    margin: 0 auto;
}






/************************************ 
NAV
*************************************/
.top-bar {
    padding: .5% 5%;
}







/************************************ 
HERO
*************************************/
.hero {
    background-color: #999;
    height: 400px;
    padding: 2% 5%;
}


/************************************ 
MAIN
*************************************/
#hangman-canvas {
    background-color: #fff;
    height: 350px;
    max-width: 500px;
    margin: 0 auto;
}

.word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#word-row {
    display: flex;
    justify-content: center;
}


/************************************ 
FOOTER
*************************************/