/************************************ 
GENERAL
*************************************/







/************************************ 
NAV
*************************************/








/************************************ 
HERO
*************************************/
.hero {
    background-color: #999;
    padding: 5% 10%;
}


/************************************ 
MAIN
*************************************/
.word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#word-row {
    display: flex;
    justify-content: center;
}


/************************************ 
FOOTER
*************************************/